<nav class ="navbar navbar-expand-lg">
    <div class="container col-12">
            <div class="logo row-col-2">
                <div class="logo-card">
                <a href= "{{path('app_accueil')}}">
                    <img  src="{{asset('image/logo-gironde-energies.jpg')}}" alt="logo de la SEM Gironde Energies">
                </a>
                </div>
            </div>
                <div class=" row col-10 menu-main">
                    <ul class="menu">
                        <li class="menu-item"><a href ="#"> Présentation</a>
                            <ul class="menu-presentation">
                                <li ><a class="menu-dropdown" href ="{{path('app_about')}}">Qui sommes-nous ?</a></li>
                                <li ><a class="menu-dropdown" href ="#">Le conseil d'Administration</a></li>
                                <li ><a class="menu-dropdown" href ="#"> l'Organigramme</a></li>
                                <li ><a class="menu-dropdown" href ="#">Filiales et Participations</a></li>
                                <li ><a class="menu-dropdown" href ="#">Rapports d'activité</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="{{path('app_actualite_index')}}"> Actualités</a></li>
                        <li class="menu-item"><a href="{{path('app_activite_index')}}">Activités</a>
                            <ul class="menu-activites">
                                <li class="submenu" ><a class="menu-activite-dropdown submenu-link" href="#">Photovoltaïques</a>
                                    <ul class="menu-photovoltaiques">
                                        <li class="submenu-photovoltaique"><a class="submenu-item" href="#"> Parc au sol</a></li>
                                        <li class="submenu-photovoltaique"><a class="submenu-item" href="#"> Ombrières et Toitures</a></li>
                                    </ul>
                                </li>
                                <li ><a class="menu-activite-dropdown" href="#">Méthanisation</a></li>
                                <li ><a class="menu-activite-dropdown" href="#">Bio GNV</a></li>
                                <li ><a class="menu-activite-dropdown" href="{{path('app_activite_carte')}}">Carte</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href>Votre projet</a></li>
                        <li class="menu-item"><a href="{{path('app_contact')}}">Contact</a></li>
                        <li class="menu-item"><a href>Administration</a>
                            <ul class="menu-administration">
                                <li><a href ="{{path('app_actionnaire_index')}}" class="menu-admin-dropdown">Actionnaire</a></li>
                                <li><a href ="{{path('app_activite_index')}}" class="menu-admin-dropdown">Activité</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Actualité</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Commune</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Contact</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Filiale</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Fonction</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Menu</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Page</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Personne</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Pré-Commande</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Rapport d'activité</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Type d'Activité</a></li>
                                <li><a href ="" class="menu-admin-dropdown">Utilisateur</a></li>   
                            </ul>
                        </li>
                    </ul>
                </div>    
        
         <div class="trait"> 
         </div> 
    </div>
</nav>