{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Slug</th>
                <th>DatePublication</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.titre }}</td>
                <td>{{ page.contenu }}</td>
                <td>{{ page.slug }}</td>
                <td>{{ page.datePublication ? page.datePublication|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ page.dateCreation ? page.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ page.dateModification ? page.dateModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_page_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_page_new') }}">Create new</a>
{% endblock %}
