{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h1>Actualite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateActualite</th>
                <th>TitreActualite</th>
                <th>Description</th>
                <th>ImageUrl</th>
                <th>DateCreation</th>
                <th>DateModification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.id }}</td>
                <td>{{ actualite.dateActualite ? actualite.dateActualite|date('d-m-Y') : '' }}</td>
                <td>{{ actualite.titreActualite }}</td>
                <td>{{ actualite.description }}</td>
                <td><img class="img-fluid zoom" src="{{asset('upload/'~actualite.imageUrl)}}" alt="" width="100%"></td>
                <td>{{ actualite.dateCreation ? actualite.dateCreation|date('d-m-Y ') : '' }}</td>
                <td>{{ actualite.dateModification ? actualite.dateModification|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}">Afficher</a>
                    <a href="{{ path('app_actualite_edit', {'id': actualite.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_actualite_new') }}">Créer une nouvelle actualité</a>
{% endblock %}
