{% extends 'base.html.twig' %}

{% block title %}Gironde Énergies{% endblock %}

{% block body %}

        <div id="carousel-slide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img  src="{{asset('image/Rauzan-drone1.jpg')}}" class="d-block w-100 img-carousel" alt="parc photovoltaïque" >
                </div>
                <div class="carousel-item c-item">
                    <img src="{{asset('image/villegouge-drone1.jpg')}}" class="d-block w-100 img-carousel" alt="panneaux photovoltaïques au-dessus d'un boulodrome" >
                </div>
                <div class="carousel-item c-item">
                    <img  src="{{asset('image/marcheprime-drone1.jpg')}}" class="d-block w-100 img-carousel" alt="ombrières de parking" >
                </div>
            </div>
        </div>
        <div class="actualite">
            <div>
                <img class="img-fluid zoom" src="{{asset('upload/'~actualite.imageUrl)}}" alt="" width="20%">
            </div>
            <div>
                {{actualite.dateActualite}}
                {{actualtie.titreActualite}}
                {{actualite.description}}
            </div>
        </div>
        <div class="video">
            <iframe width="660" height="415" src="https://www.youtube.com/embed/XJiELv27qz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
            
{% endblock %}
