{% extends 'base.html.twig' %}

{% block title %}RapportActivite{% endblock %}

{% block body %}
    <h1>RapportActivite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rapport_activite.id }}</td>
            </tr>
            <tr>
                <th>Rapport</th>
                <td>{{ rapport_activite.rapport }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ rapport_activite.dateCreation ? rapport_activite.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateModification</th>
                <td>{{ rapport_activite.dateModification ? rapport_activite.dateModification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rapport_activite_index') }}">back to list</a>

    <a href="{{ path('app_rapport_activite_edit', {'id': rapport_activite.id}) }}">edit</a>

    {{ include('rapport_activite/_delete_form.html.twig') }}
{% endblock %}
